$poppins : 'Poppins';
$playfair : 'Playfair Display';

$size : 16px;

$noir : #222222;
$rouge : #fd3e4f;
$grisTitreSkills: #5c5c5c;
$grisParaSkills : #7b7b7b;
$grisPoste : #9a9a9a;
$grisInnovSoluPara : #717171;

$btn : linear-gradient(to top, #fd3fb3, #fd3f81, #fd3ea4);
$numero : linear-gradient(to top, #fd3fb3, #fd3f81, #fd3ea4), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
$hoverSkills : linear-gradient(to top, #fd3ea4, #fd3f81, #fd3fb3);