.header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    color: white;

    &__nav {
        margin-top: 50px;
        display: flex;
        color: white;
        justify-content: space-between;

        &--logo {
            margin-left: 50px;
            @media (max-width: $mini) {
                margin-left: 15px;
                width: 14vw;
                height: 5vh;
            }
        }

        &--network {
            margin-right: 150px;
            @media (max-width: $mini) {
                margin-right: 10px;
            }
        }

        &--link {
            width: 30vw;
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            @media (max-width: $medium) {
                width: 40vw;
            }
            @media (max-width: $mobile) {
                font-weight: 100;
                flex-wrap: wrap;
            }
        }
    }

    &__title {
        margin-top: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: $mobile) {
            margin-top: 10vh;
        }

        &--sub {
            margin-bottom: 50px;
            font-size: 25px;
            font-weight: 100;
            @media (max-height: $mobile) {
                font-size: 15px;
            }
        }

        &--main {
            text-align: center;
            font-size: 50px;
            @media (max-width: $mobile) {
                font-size: 35px;
            }
            @media (max-height: $mobile) {
                font-size: 25px;
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 80px;

        &--item {
            border: 0;
            background: $linear;
            color: white;
            width: 200px;
            height: 75px;
            font-weight: 700;
            cursor: pointer;
            font-size: 16px;
        }
    }
}

.network {
    margin-left: 5px;
}